.uivvp { 
  border-right-width: 99px;
  font-size: 95px;
  font-size: 46px;
  line-height: 55px;
  padding-right: 6px;
  margin-right: 46px;
  margin-bottom: 19px;
  margin-right: 31px;
  margin-right: 48px;
  padding-bottom: 65px;
  font-size: 12px;
  border-right-width: 67px;
  border-left-width: 31px;
  border-left-width: 0px;
  margin-top: 94px;
  border-top-width: 14px;
}
